html {
  font-size: 18px;
  font-family: helvetica;
  color: white;
}

/* Header */

header {
  background-color: black;
  color: white;
  width: 100%;
  display: inline-block;
  width: 100%;
  text-align: center;
}

header #header-content {
  width: 960px;
  display: inline-flex;
}

header #header-content h2 {
  margin: 0.66rem 0.5rem;
  font-size: 1rem;

}

header #header-content img {
  height: 1.5rem;
  margin: auto 0.5rem;
}

/* main content container */

.main {
  display: flex;
  flex-direction: column;
}

/* top banner css */

.top-image {
  height: 25rem;
  width: 100%;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-size: cover;
}

 .content-container {
  width: 960px;
  margin: 0 auto;
  height: 100%;
}

.top-image #new-arrival {
  background-color: black;
  width: 20rem;
  height: auto;
  margin-top: 9rem;
  font-weight: bold;
  padding: 2rem 3rem;
  margin-top: 9rem;

}

.top-image #new-arrival h1 {
  font-size: 2rem;
  margin-top: 0.25rem;
}

/* "nav bar" css */

nav {
  background-color: red;
}

nav .content-container {
  display: flex;
  justify-content: space-between;
}

nav .content-container h3 {
  margin: 0.75rem auto;
}

/* Content section (items) */

.content {
  width: 960px;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content .box  {
  width: 30%;
  border: black solid 4px;
  padding: 3px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content .box img {
  height: 9rem;
  margin: 2rem auto;
  max-width: 80%;
}

.content .box p {
  padding: 0.5rem;
  text-align: center;
  background-color: black;
}

/* content section (contact/info) */

.contacts {
  margin-top: 3rem;
  width: 960px;
  margin: auto;
  display: inline-flex;
  justify-content: space-between;
}

.contacts .contact {
  width: 35%;
}

.contacts .contact h4 {
  background-color: black;
  padding: 1rem 2rem;
}

.contacts .contact p {
  color: black;
}

/* footer/copyright */

footer {
  background-color: black;
  height: 5rem;
  width: 100%;
  margin-top: 4rem;
}

footer p {
  width: 960px;
  text-align: left;
  margin-top: 2rem;
}

@media only screen and (max-width: 1024px) {
  .box {
    width: 47%;
    height: auto;
  }

  #box-3 {
    display: none;
  }

  .contacts .contact {
    width: 35%;
  }

}

@media only screen and (max-width : 470px) {
  .top-image {
  height: 15rem;
}

.top-image #new-arrival {
  margin-top: 9rem;
}

.top-image #new-arrival h4 {
  margin-top: 1rem;
  font-size: 0.77rem;
}

.top-image #new-arrival h1 {
  font-size: 1rem;
  margin-left: 1rem;
}

  #box-2 {
    display: none;
  }

  .box {
    width: 90%;
    align-self: flex-start;
  }

  .content {
    justify-content: center;
  }

  .contacts {
    justify-content: center;
    flex-direction: column;
  }
}
